<div class="w-full h-full flex justify-center items-center">
  <p-card [style]="{ width: '400px' }">
    <ng-template pTemplate="header">
      <div class="w-full flex justify-start items-center pt-4 px-4">
        <p-button icon="pi pi-arrow-left" label="Voltar" routerLink="/login" [link]="true" size="small" />
      </div>
    </ng-template>
    <ng-template pTemplate="title"> Registro </ng-template>
    <ng-template pTemplate="subtitle"> Entre com seus dados </ng-template>
    <form [formGroup]="registerForm">
      <div class="w-full mt-2">
        <label class="block mb-1" for="fullName">Nome completo</label>
        <input
          type="text"
          class="w-full"
          pInputText
          formControlName="fullName"
          autocomplete="off"
          required
        />
        @if ((fullName?.invalid) && (fullName?.dirty || fullName?.touched)) {
        <small class="text-red-500">
          @if(fullName?.hasError('required')) { Nome é obrigatório } 
          @else if(fullName?.hasError('minlength')) { Nome deve ter no mínimo 3 caracteres}
        </small>
        }
      </div>
      <div class="w-full mt-2">
        <label class="block mb-1" for="email">E-mail</label>
        <input
          type="text"
          class="w-full"
          pInputText
          formControlName="email"
          autocomplete="off"
          required
        />
        @if ((email?.invalid) && (email?.dirty || email?.touched)) {
        <small class="text-red-500">
          @if(email?.hasError('required')) { E-mail é obrigatório } 
          @else if(email?.hasError('pattern')) { E-mail inválido }
        </small>
        }
      </div>
      <div class="w-full mt-2">
        <label class="block mb-1" for="password">Senha</label>
        <p-password
          class="block"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
          autocomplete="off"
        />
        @if (password?.invalid && (password?.dirty || password?.touched)) {
        <small class="text-red-500">
          @if(password?.hasError('required')) { Senha é obrigatória } 
          @else if(password?.hasError('minlength')) { Senha deve ter no mínimo 3
          caracteres }
        </small>
        }

        <div class="my-4" *ngIf="password?.touched || password?.value">
          <p>Escolha uma senha</p>
          <p-divider />
          <ul class="pl-2 ml-2 my-0 leading-normal">
            <li [class.text-green-600]="password?.value && hasLowerCase(password?.value ?? '')" class="text-sm list-disc text-red-500">
              No mínimo uma letra minúscula
            </li>
            <li [class.text-green-600]="password?.value && hasUpperCase(password?.value ?? '')" class="text-sm list-disc text-red-500">
              No mínimo uma letra maiúscula
            </li>
            <li [class.text-green-600]="password?.value && hasNumber(password?.value ?? '')" class="text-sm list-disc text-red-500">
              No mínimo um número
            </li>
            <li [class.text-green-600]="password?.value && hasMinLength(password?.value ?? '')" class="text-sm list-disc text-red-500">
              Mínimo de 8 caracteres
            </li>
          </ul>
          <p-divider />
        </div>
        
      </div>
      <div class="w-full mt-2">
        <label class="block mb-1" for="confirmPassword">Confirmar senha</label>
        <p-password
          class="block"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          formControlName="confirmPassword"
          [toggleMask]="true"
          [feedback]="false"
          autocomplete="off"
        />
        @if (confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)) {
        <small class="text-red-500">
          @if(confirmPassword?.hasError('required')) { Confirmar senha é obrigatória } 
          @else if(confirmPassword?.hasError('minlength')) { Senha deve ter no mínimo 3
          caracteres }
        </small>
        }

        @if (registerForm.hasError('passwordMismatch') && password?.valid && confirmPassword?.valid) {
        <small class="text-red-500">As senhas não conferem </small>
        }
      </div>
      <div class="mt-5">
        <p-button
          label="Registrar"
          (click)="onSubmit()"
          [disabled]="!registerForm.valid"
          class="w-full"
          styleClass="w-full"
        />
      </div>
    </form>
  </p-card>
</div>