<div class="w-full h-full flex justify-center items-center flex-col">
  <p-card [style]="{ width: '400px' }">
    <ng-template pTemplate="title">
      Login
    </ng-template>
    <ng-template pTemplate="subtitle">
      Entre com seus dados
    </ng-template>
    <form [formGroup]="loginForm">
      <div class="w-full mt-2">
        <label class="block mb-1" for="email">
          <i class="pi pi-inbox" style="font-size: .875rem"></i>
          E-mail
        </label>
        <input
          type="text"
          class="w-full"
          pInputText
          formControlName="email"
          autocomplete="off"
          required
        />

        @if ((email?.invalid) && (email?.dirty || email?.touched)) {
        <small class="text-red-500">
          @if(email?.hasError('required')) { E-mail é obrigatório } 
          @else if(email?.hasError('pattern')) { E-mail inválido }
        </small>
        }
      </div>

      <div class="w-full mt-2">
        <label class="block mb-1" for="password">
          <i class="pi pi-lock" style="font-size: .875rem"></i>
          Senha
        </label>
        <p-password
          class="block"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
          autocomplete="off"
        />
        @if (password?.invalid && (password?.dirty || password?.touched)) {
        <small class="text-red-500">
          @if(password?.hasError('required')) { Senha é obrigatória } 
          @else if(password?.hasError('minlength')) { Senha deve ter no mínimo 3
          caracteres }
        </small>
        }
      </div>

      <div class="flex flex-col space-y-4 mt-6">
        <p-button
          label="Entrar"
          (click)="onSubmit()"
          [disabled]="!loginForm.valid"
          class="w-full"
          styleClass="w-full"
        />
        <p-button label="Esqueci a senha" routerLink="/recover" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
      </div>
    </form>
    <small class="flex justify-center mt-5 font-semibold text-gray-400">Versão 0.0.1</small>
  </p-card>
  <div class="mt-4 text-gray-500">
    <span class="mr-1">Não tem conta?</span>
    <a routerLink="/register" class="font-medium hover:text-indigo-600 hover:underline"
      >Criar Conta</a
    >
  </div>
</div>
