/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@layer tailwind-base, primeng, tailwind-utilities;

@import "tailwindcss/base";

@layer tailwind-base {
  @import "tailwindcss/base";
}

@layer tailwind-utilities {
  @import "tailwindcss/components";
  @import "tailwindcss/utilities";
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #f9fafb;
}
